<!DOCTYPE html>
<html>

  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="description" content="Angular.spidergraph : A Angular directive library for interactive HTML5,jquery spider graph module">

    <link rel="stylesheet" type="text/css" media="screen" href="stylesheets/stylesheet.css">

    <title>Angular.spidergraph</title>
  </head>

  <body>

    <!-- HEADER -->
    <div id="header_wrap" class="outer">
        <header class="inner">
          <a id="forkme_banner" href="https://github.com/morwalz/angular.spidergraph">View on GitHub</a>

          <h1 id="project_title">Angular.spidergraph</h1>
          <h2 id="project_tagline">A Angular directive library for interactive HTML5,jquery spider graph module</h2>

            <section id="downloads">
              <a class="zip_download_link" href="https://github.com/morwalz/angular.spidergraph/zipball/master">Download this project as a .zip file</a>
              <a class="tar_download_link" href="https://github.com/morwalz/angular.spidergraph/tarball/master">Download this project as a tar.gz file</a>
            </section>
        </header>
    </div>

    <!-- MAIN CONTENT -->
    <div id="main_content_wrap" class="outer">
      <section id="main_content" class="inner">
        <h1>
<a id="angular-spidergraph---dynamic-interactive-spidergraphs-in-html5" class="anchor" href="#angular-spidergraph---dynamic-interactive-spidergraphs-in-html5" aria-hidden="true"><span class="octicon octicon-link"></span></a>Angular Spidergraph - Dynamic, interactive spidergraphs in HTML5</h1>

<p>Angular spidergraph is a directive library module that creates nice looking, interactive spidergraphs in HTML5, using the canvas element.
It is using <a href="https://github.com/jmstriegel/jquery.spidergraph">https://github.com/jmstriegel/jquery.spidergraph</a> internally.
For more information visit <a href="https://github.com/jmstriegel/jquery.spidergraph">https://github.com/jmstriegel/jquery.spidergraph</a></p>

<h2>
<a id="what-are-spidergraphs-good-for" class="anchor" href="#what-are-spidergraphs-good-for" aria-hidden="true"><span class="octicon octicon-link"></span></a>What are spidergraphs good for?</h2>

<ul>
<li>illustrating scaled quantitative data for several subjective attributes</li>
<li>overlaying multiple data measurements for attribute comparison</li>
<li>visualizing the intersection of several data measurements</li>
</ul>

<h2>
<a id="how-do-i-use-it" class="anchor" href="#how-do-i-use-it" aria-hidden="true"><span class="octicon octicon-link"></span></a>How do I use it?</h2>

<h2>
<a id="minimum-use" class="anchor" href="#minimum-use" aria-hidden="true"><span class="octicon octicon-link"></span></a>Minimum use:</h2>

<p>Include <a href="https://github.com/jmstriegel/jquery.spidergraph">https://github.com/jmstriegel/jquery.spidergraph</a> jquery spider graph then 
angular spider graph</p>

<p>Include the module in your app like </p>

<pre><code>    angular.module('myApp', ['morwal.spiderGraph'])
</code></pre>

<p>First make a div to contain your graph:</p>

<pre><code>    &lt;spider-map labels="labels" ng-model="activeData" active-data="activeData"&gt;&lt;/spider-map&gt;
</code></pre>

<p>in your controller set active data</p>

<pre><code>        $scope.labels =[ "Designing", "Coding", "Cycling", "Running"];
        $scope.activeData = [0,1,4,0];
</code></pre>

<p>There is two way binding in model activeData
Thats it.</p>

<h2>
<a id="advanced-uses" class="anchor" href="#advanced-uses" aria-hidden="true"><span class="octicon octicon-link"></span></a>Advanced uses</h2>

<p>Change grid color 
in controller </p>

<pre><code>    $scope.gridColor='rgba(20,20,20,0.2)'
</code></pre>

<p>In view </p>

<pre><code>    &lt;spider-map labels="labels" ng-model="activeData" active-data="activeData" grid-color="gridColor"&gt;&lt;/spider-map&gt;
</code></pre>

<p>Changing configurtion for active data=</p>

<pre><code>  $scope.activeConfig={
 'strokecolor': 'rgba(0,204,230,0.8)',
 'fillcolor': 'rgba(0,204,230,0.6)',
 'linear':true
 };
</code></pre>

<p>It is options to set these parameters. linear is default true. You can set it to false on need. </p>

<pre><code> &lt;spider-map labels="labels" ng-model="activeData" active-data="activeData" active-config="activeConfig"&gt;&lt;/spider-map&gt;
</code></pre>

<p>Add static layers to your data set. Opacity can be used to see through multiple layers.</p>

<pre><code>    &lt;spider-map labels="labels" ng-model="activeData" active-data="activeData" grid-color="gridColor" layers="layers"&gt;&lt;/spider-map&gt;
</code></pre>

<p>This model will be array. Here only data is complusary paramater.</p>

<pre><code>$scope.layers=[
 {
 'strokecolor': 'rgba(230,204,0,0.8)',
 'fillcolor': 'rgba(230,204,0,0.6)',
 'data': [5, 4, 9, 8, 1]
 }
 ];
</code></pre>

<h2>
<a id="can-i-see-an-example" class="anchor" href="#can-i-see-an-example" aria-hidden="true"><span class="octicon octicon-link"></span></a>Can I see an example?</h2>

<p>Yes you can. Right over here:</p>

<h2>
<a id="who-created-this" class="anchor" href="#who-created-this" aria-hidden="true"><span class="octicon octicon-link"></span></a>Who created this</h2>

<p>Shankar Morwal (<a href="https://github.com/morwalz">https://github.com/morwalz</a>)</p>
      </section>
    </div>

    <!-- FOOTER  -->
    <div id="footer_wrap" class="outer">
      <footer class="inner">
        <p class="copyright">Angular.spidergraph maintained by <a href="https://github.com/morwalz">morwalz</a></p>
        <p>Published with <a href="https://pages.github.com">GitHub Pages</a></p>
      </footer>
    </div>

              <script type="text/javascript">
            var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
            document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
          </script>
          <script type="text/javascript">
            try {
              var pageTracker = _gat._getTracker("UA-38243486-2");
            pageTracker._trackPageview();
            } catch(err) {}
          </script>


  </body>
</html>
